<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>@Model.Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    @foreach (var style in Model.Styles)
    {
        <link href="@Href($"~/Styles/{style}")"
              rel="stylesheet"
              type="text/css" />
    }
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @foreach (var viewName in new[] { "Impressum", "Mieter", "Demo" })
                    {
                        <li class="nav-item">
                            <a class="nav-link @(@Model.Title == @viewName ? "active" : "")" href="/?view=@viewName">@viewName</a>
                        </li>
                    }
                </ul>
                <ul class="d-flex nav">
                    <li class="nav-item">
                        <a href="/?view=Login" class="nav-link @(@Model.Title == "Login" ? "link-dark px-2" : "")">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pt-2 text-center">
        <a href="/">
            <img class="d-block mx-auto my-4" src="@Href("~/Images/rent-and-ride.png")" width=auto height="120px">
        </a>
    </div>

    <div id="main-scroll-wraper" class="py-4">
        <div class="container-md" id="main-scroll">
            @RenderBody()
        </div>
    </div>


    <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    @foreach (var script in Model.Scripts)
    {
        <script src="@Href($"~/Scripts/{script}")" @(script.Contains("module") ? Html.Raw("type=\"module\"") : "")></script>
    }
</body>

</html>